Manual _Ingestion_RAG _clause wise_metadata-modify_amendment.json
{
  "name": "Manual _Ingestion_RAG _clause wise_metadata-modify_amendment",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "17896476-fbde-40a4-aa88-a3a327da45c6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/Users/shobhnagupta/.n8n-files/pdfs/*/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "0cdb2a67-59b8-4bf1-9164-caf38cbc5bbc",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "2b47b2fd-d063-460f-ac95-c81d521ecb82",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n\n  const text = (item.json.text || \"\").toUpperCase();\n\n  // Detect Manual\n  let manual = \"UNKNOWN\";\n\n  if (/GENERAL\\s+AND\\s+SUBSIDIARY\\s+RULES|GSR|G&SR/.test(text)) {\n    manual = \"GSR\";\n  }\n  else if (/SIGNAL\\s+ENGINEERING\\s+MANUAL|IRSEM/.test(text)) {\n    manual = \"IRSEM\";\n  }\n  else if (/PERMANENT\\s+WAY\\s+MANUAL|IRPWM/.test(text)) {\n    manual = \"IRPWM\";\n  }\n\n  // Extract Chapter\n  let chapter = \"UNKNOWN\";\n  let chapter_title = \"UNKNOWN\";\n\n  const chapterMatch = text.match(/CHAPTER\\s*[-–]?\\s*(\\d+)/);\n\n  if (chapterMatch) {\n    chapter = chapterMatch[1];\n    chapter_title = \"CHAPTER - \" + chapter;\n  }\n\n  // Extract Clause\n  let clause = \"UNKNOWN\";\n\n  if (manual === \"IRSEM\" || manual === \"IRPWM\") {\n\n    const clauseMatch = text.match(/\\b\\d+\\.\\d+\\b/);\n\n    if (clauseMatch) {\n      clause = clauseMatch[0];\n    }\n\n  } else if (manual === \"GSR\") {\n\n    const clauseMatch = text.match(/\\b\\d{3}\\b/);\n\n    if (clauseMatch) {\n      clause = clauseMatch[0];\n    }\n\n  }\n\n  // IRSEM chapter logic\n  if (manual === \"IRSEM\" && clause !== \"UNKNOWN\") {\n    chapter = clause.split(\".\")[0];\n    chapter_title = \"CHAPTER - \" + chapter;\n  }\n\n  // Create reference\n  let reference = manual;\n\n  if (chapter !== \"UNKNOWN\") {\n    reference += \"-\" + chapter;\n  }\n\n  if (clause !== \"UNKNOWN\") {\n    reference += \"-\" + clause;\n  }\n\n  item.json.manual = manual;\n  item.json.chapter = chapter;\n  item.json.chapter_title = chapter_title;\n  item.json.clause = clause;\n  item.json.reference = reference;\n\n  results.push(item);\n\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "f1d58fab-48a5-4dcd-94b0-0dbd69aad568",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "RAG_Manuals",
          "mode": "list",
          "cachedResultName": "RAG_Manuals"
        },
        "embeddingBatchSize": 50,
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1024,
        0
      ],
      "id": "aacdfee4-40dc-4570-81a2-656128fcc8fb",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "yx5KWiCTNo0GZFTU",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        208
      ],
      "id": "ef03947f-f368-4a23-9cc2-0f7ca3431df9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "y5IprEFy3EKGgTqG",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1136,
        192
      ],
      "id": "0cf5c5f7-ec04-4fa4-9918-83d800f31360",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f5a9871-6de1-4aa5-8056-76924d41a670",
              "name": "text",
              "value": "={{ $json.text}}",
              "type": "string"
            },
            {
              "id": "a84d60f2-6db7-46dd-981d-362aced7db69",
              "name": "manual",
              "value": "={{$json.manual}}",
              "type": "string"
            },
            {
              "id": "535bfe73-8b1b-4ea7-84eb-ba378900bfc3",
              "name": "chapter",
              "value": "={{ $json.chapter}} }}",
              "type": "string"
            },
            {
              "id": "dacc4d57-5e01-47a0-a9ab-8abe719373a5",
              "name": "clause",
              "value": "={{ $json.clause }}",
              "type": "string"
            },
            {
              "id": "3983c864-9fbc-4a8e-870e-ec0466c370a6",
              "name": "reference",
              "value": "={{ $json.reference }}",
              "type": "string"
            },
            {
              "id": "9968d15f-ef31-42fc-9f13-1493b2a8e685",
              "name": "status",
              "value": "active",
              "type": "string"
            },
            {
              "id": "753400cd-2fd9-46c2-b06c-f34f2f0f4c49",
              "name": "amendment",
              "value": "original",
              "type": "string"
            },
            {
              "id": "07da0808-6d7f-4f2d-aa46-9d904cbaddf0",
              "name": "effective",
              "value": "\"base_manual\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        0
      ],
      "id": "34fcaff7-a538-4f7d-ab49-fb2f633b4f79",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "62c432cc-5bbc-473a-b6d8-1c5ffc44c550",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acb77edea9f86da0a9984cefb29a9794948c1ac9d9cab4b222006613a13e67f1"
  },
  "id": "2lbyQvvRX7ynkYl8",
  "tags": []
}