RAG_User_Qery_follow_up_ memory_clarification_universal_amendmentstatus copy (1).json
{
  "name": "RAG_User_Qery_follow_up_ memory_clarification_universal_amendmentstatus copy",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"answer\": \"{{$json.output}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        192
      ],
      "id": "263283fd-d8ce-4c4f-896b-c2da85626e47",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Rag_User-Query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        0
      ],
      "id": "b2c86fc2-f99e-47a3-aefa-7334335659e8",
      "name": "Webhook1",
      "webhookId": "16e22479-668f-49db-994c-a68b24343413"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0.2,
          "maxTokens": 1000,
          "temperature": 0.2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -768,
        496
      ],
      "id": "9b860a88-0dc4-451e-906e-b532c02e1275",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2bDpQ72PXNrHD5sb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the railway Manuals vector database stored in vector database.",
        "qdrantCollection": {
          "__rl": true,
          "value": "RAG_Manuals",
          "mode": "list",
          "cachedResultName": "RAG_Manuals"
        },
        "topK": 8,
        "options": {
          "searchFilterJson": "{\n  \"must\": [\n    {\n      \"key\": \"metadata.status\",\n      \"match\": {\n        \"value\": \"active\"\n      }\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -512,
        496
      ],
      "id": "b3623eea-2cc6-4c82-9a88-5b4e9cb1e586",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "nwkxu9or9TlpNfa7",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -432,
        704
      ],
      "id": "5d8100ed-2705-4a4d-8cb1-9e2d32d4f41b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "y5IprEFy3EKGgTqG",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06604b4c-bee3-4217-a41d-4b17424e589e",
              "leftValue": "={{$json.channel}}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        96
      ],
      "id": "556dcf39-de33-4de0-9cc4-215b1043af88",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8633206200:AAHqTjhLLsY4-ImXfNajSXbFo3dN14DaVL8/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.sessionId}}"
            },
            {
              "name": "text",
              "value": "={{$json.output}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        0
      ],
      "id": "7195541c-4406-44c7-b265-f84a4fa992a8",
      "name": "telegram send message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10f2c45a-ae47-4cd3-8a88-ba852f15507b",
              "name": "channel",
              "value": "={{ $json.body.message ? \"telegram\" :\"web\" }}",
              "type": "string"
            },
            {
              "id": "9cadd13e-1ade-4a40-aafd-8962398c1e87",
              "name": "query",
              "value": "={{ $json.body.message ? $json.body.message.text : $json.body.query }}",
              "type": "string"
            },
            {
              "id": "45c6afda-d708-49ba-943d-ffb31ffbd22e",
              "name": "userId",
              "value": "={{ $json.body.message ? $json.body.message.chat.id : $json.body.sessionId ||$json.body.sessionId||$session.id}}",
              "type": "string"
            },
            {
              "id": "709aa2fd-d570-479d-bff5-514e7ec383d8",
              "name": "sessionId",
              "value": "={{ $json.body.message ? $json.body.message.chat.id : $jason.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        96
      ],
      "id": "f416998e-c5ae-4e2b-b2af-45569baf7e38",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -712,
        272
      ],
      "id": "c149a1d7-e0d2-4522-94fb-c3ea65a1fa03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId||$execution.id}}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        496
      ],
      "id": "1cf96a1f-63c4-48c5-a6b8-ddc96ada0381",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        192
      ],
      "id": "975df0e7-eaab-4995-aa1b-2c8e04c1c9a9",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        96
      ],
      "id": "2e2a7411-db9b-42c1-b61f-06eb09b39897",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "telegram send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "f6b6642a-7cea-42e0-8a60-5973d470500c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acb77edea9f86da0a9984cefb29a9794948c1ac9d9cab4b222006613a13e67f1"
  },
  "id": "fikv8NpVgrOSFM08",
  "tags": []
}